.form-control{
  width: 400px;
  
}

.header1{
  text-align: center;
}

.main,.main1,.main2,.main3,.main4,.main5,.main6{
  padding-left: 600px;
  padding-right: 500px;
}

.main5 input{
  border-radius: 5px;
}

.main5 button{
  text-align: center;
  padding-left: 200px;
  padding-right: 180px;
}

table{
  width: 1100px !important;
  margin-left: 50px;
}

h2{
  text-align: center;
}

.navbar-nav a{
  color: blue ;
}
.searchb{
  margin-left: 50px;
}

.container{
  padding-top: 70px;
}